<h5>Filter by category<h5>
<div class='checkbox'>
<%= label_tag :all_categories do %>
  <%= check_box_tag 'categories[]', "all", @selected_categories.include?("all"), id: 'all_categories' %>
  All Categories
<% end %>
</div>
<% @categories.each do |category| %>
  <div class="checkbox">
  <%= label_tag category.gsub(" ", "_").gsub("'","").gsub("?", "") do %>
    <%= check_box_tag 'categories[]', category, @selected_categories.include?(category), id: category.gsub(" ", "_").gsub("'","").gsub("?", "") %>
    <%= category %>
  <% end %>
  </div>
<% end %>

