<div class="col-md-10 col-md-offset-1">
  <div class="row">
    <div class="header">
      <h1>East Austin Zeitgeist</h1>
      <h4>Home | <%= link_to "About", abouts_show_path %></h4>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <%= render 'filter_form' %>
    </div>
    <div class="col-md-6">
      <h4>Emotial Tone</h4>
      <%= column_chart @scores.emotional_tone %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <%= pie_chart @comments.group(:category).count %>
    </div>
    <div class="col-md-6">
      <h4>Language Tone</h4>
      <%= column_chart @scores.language_tone %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <%= pie_chart @comments.group(:theme).count %>
    </div>
    <div class="col-md-6">
      <h4>Social Tone</h4>
      <%= column_chart @scores.social_tone %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <%= bar_chart @keywords.words %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h4>Sample of comments</h4>
      <%= render @comments.limit(10)%>
    </div>
  </div>
</div>